.wrapper {
    width: 90%;
    height: 100%;
    margin: auto auto;
    padding-top: 10px;
    padding-bottom: 15px;
    display: grid;
    grid-template:
        [row1-start] "header" 1fr [row1-end]
        [row2-starrt] "main" 10fr [row2-end]
        / 1fr;
    gap: 10px 15px;
}

