.wrapper {
    width: calc(100% - 30px);
    height: 100%;
    margin: auto auto;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template:
        [row1-start] "header" 1fr [row1-end]
        [row2-starrt] "main" 11fr [row2-end]
        / 1fr;
    gap: 10px 15px;
}

