.header-wrapper {
    background-color: #F6B062;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(60px, 80px) repeat(auto-fit, minmax(150px, 1fr));
    place-items: center;
    grid-area: header;
}

.headers {
    text-align: center;
}

.header-logo {
    width: 40px;
    height: 40px;
}

.header-logo:hover {
    background: #303E68;
    border-radius: 5px;
}
